.red-border-table,
.red-border-table th,
.red-border-table td {
  border-color: var(--red) !important;
}

.orange-border-table,
.orange-border-table th,
.orange-border-table td {
  border-color: var(--orange) !important;
}

.contestant p {
  font-size: 0.8rem;
}

.contestant-winner {
  background-color: var(--yellow) !important;
  color: var(--red) !important;
  font-weight: bold;
}

.contestant-second-winner {
  color: var(--orange) !important;
  font-weight: bold;
}

.final > div p {
  font-size: 0.8rem;
}